name: 'release'
on:
  workflow_dispatch:
    inputs:
      bump:
        description: 'Semver version to bump'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: yarn install
      - run: yarn workspaces run all

      - id: bump-version
        run: yarn version --${{ github.event.inputs.bump }} --no-git-tag-version

      - id: get-version
        run: |
          VERSION=$(node -pe "require('./package.json')['version']")
          MAJOR=$(node -pe "require('./package.json')['version'].split('.')[0]")
          MINOR=$(node -pe "require('./package.json')['version'].split('.').slice(0, 2).join('.')")

          echo ::set-output name=version::$VERSION
          echo ::set-output name=major::$MAJOR
          echo ::set-output name=minor::$MINOR

      - uses: EndBug/add-and-commit@v8
        id: commit
        with:
          add: '["./*/dist/* --force", "package.json"]'
          remove: './node_modules/*'
          default_author: github_actor
          message: 'Release v${{ steps.get-version.outputs.version }}'
          push: false

      - uses: rickstaa/action-create-tag@v1
        with:
          tag: 'latest'
          commit_sha: ${{ steps.commit.outputs.commit_long_sha }}
          force_push_tag: true

      - uses: rickstaa/action-create-tag@v1
        with:
          tag: 'v${{ steps.get-version.outputs.major }}'
          commit_sha: ${{ steps.commit.outputs.commit_long_sha }}
          force_push_tag: true

      - uses: rickstaa/action-create-tag@v1
        with:
          tag: 'v${{ steps.get-version.outputs.minor }}'
          commit_sha: ${{ steps.commit.outputs.commit_long_sha }}
          force_push_tag: true

      - uses: rickstaa/action-create-tag@v1
        with:
          tag: 'v${{ steps.get-version.outputs.version }}'
          commit_sha: ${{ steps.commit.outputs.commit_long_sha }}
          force_push_tag: true
